.loader-container{
    background: #fff;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 200;
}
.loader{
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  .loader .logo{
      height: 66.66px;
      -webkit-animation: blink 2.5s 0.9s linear infinite;
            animation: blink 2.5s 0.9s linear infinite;
  }
  @-webkit-keyframes blink{
      0%{
          opacity: 1;
      }
      50%{
          opacity: 0;
      }
  }
  @keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
  /******************************
   * FLEXBOX STYLES
   ***************************** */
  .dice {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .face {
    display: flex;
    width: 2rem;
    height: 2rem;
    opacity: 0;
  }
  .face:nth-child(1) {
    -webkit-animation: waves 2.5s linear infinite;
            animation: waves 2.5s linear infinite;
  }
  .face:nth-child(2) {
      margin-left: -0.5em;
    -webkit-animation: waves 2.5s 0.1s linear infinite;
            animation: waves 2.5s 0.1s linear infinite;
  }
  .face:nth-child(3) {
    -webkit-animation: waves 2.5s 0.2s linear infinite;
            animation: waves 2.5s 0.2s linear infinite;
  }
  .face:nth-child(4) {
      margin-left: -0.5em;
    -webkit-animation: waves 2.5s 0.3s linear infinite;
            animation: waves 2.5s 0.3s linear infinite;
  }
  .face:nth-child(5) {
    margin-left: -0.7em;

    -webkit-animation: waves 2.5s 0.4s linear infinite;
            animation: waves 2.5s 0.4s linear infinite;
  }
  .face:nth-child(6) {
    margin-left: -0.25em;
    -webkit-animation: waves 2.5s 0.5s linear infinite;
            animation: waves 2.5s 0.5s linear infinite;
  }
  .face:nth-child(7) {
    margin-left: -0.3em;
    -webkit-animation: waves 2.5s .20.6s linear infinite;
            animation: waves 2.5s 0.6s linear infinite;
  }
  .face:nth-child(8) {
      margin-left: 0;
    -webkit-animation: waves 2.5s 0.7s linear infinite;
            animation: waves 2.5s 0.7s linear infinite;
  }
  .face:nth-child(9) {
      margin-left: -1.5em;
    -webkit-animation: waves 2.5s 0.8s linear infinite;
            animation: waves 2.5s 0.8s linear infinite;
  }
  .face:nth-child(10) {
      margin-left: -1.3em;
      -webkit-animation: waves 2.5s 0.9s linear infinite;
            animation: waves 2.5s 0.9s linear infinite;
  }
  
  
  /****************************************************** */
  @-webkit-keyframes waves {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    4% {
      -webkit-transform: translateY(-25px);
              transform: translateY(-25px);
      opacity: 1;
    }
    8% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
  }
  @keyframes waves {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0;
    }
    4% {
      -webkit-transform: translateY(-25px);
              transform: translateY(-25px);
      opacity: 1;
    }
    8% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    70% {
      opacity: 0;
    }
  }
